# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
.vscode

# files
CLAUDE.md

# next.js
/.next/
/out/

# production
/build
*.csv
# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.DS_Store

# vercel
.vercel

# sitemap files
public/sitemap.xml

# next.js
.next

# typescript
*.tsbuildinfo
next-env.d.ts

.vercel
.roo
.wrangler
.claude